:root {
    /* Primary Colors */
    --color-primary: #34919d;
    --color-primary-light: #7ecfdd;
    --color-primary-dark: #246a73;
    --color-secondary: #a44d3b;
    /* --color-secondary: #fbd87f; */
    --color-secondary-dark: #813425;

    /* Brand Colors */
    --color-brand-green: #15464c;

    /* Neutral Colors */
    --color-white: #fff;
    --color-black: #333;
    --color-gray-100: #f5f5f5;
    --color-gray-200: #ebebeb;
    --color-gray-300: #e6e6e6;
    --color-gray-400: #cacaca;
    --color-gray-500: #858585;
    --color-gray-600: #6c6c6c;

    /* Background Colors */
    --color-bg-teal-light: #d6f7fd;
    --color-bg-teal-lighter: #e8f7f5;

    /* Status Colors */
    --color-error: #c02b0a;
    --color-error-light: #cc4b37;
    --color-success: #3adb76;

    /* Shadows */
    --shadow-sm: 0 4px 24px rgba(126, 207, 221, 0.322);
    --shadow-md: 0 8px 48px rgba(0, 0, 0, 0.078);
    --shadow-lg: 0 20px 99px rgba(0, 0, 0, 0.25);
    /* Image Background Gradient */
    --image-bg-gradient: linear-gradient(90deg, rgba(21, 70, 76, 0.95), rgba(21, 70, 76, 0.5) 45%, transparent 65%);
}
