<div class="content-wrapper">
    <h2>Contact us</h2>
    <div class="text">
        <p>Partner with Europe’s leading end-to-end IT lifecycle service provider.</p>
    </div>
    <script type="rocketlazyloadscript"></script>

    <div
        class="gf_browser_unknown gform_wrapper gravity-theme gform-theme--no-framework"
        data-form-theme="gravity-theme"
        data-form-index="0"
        id="gform_wrapper_27"
    >
        <div id="gf_27" class="gform_anchor" tabindex="-1"></div>
        <div class="gform_heading">
            <p class="gform_description"></p>
            <p class="gform_required_legend">
                &quot;<span class="gfield_required gfield_required_asterisk">*</span>&quot; indicates required fields
            </p>
        </div>
        <form
            method="post"
            enctype="multipart/form-data"
            target="gform_ajax_frame_27"
            id="gform_27"
            action="/it-services/#gf_27"
            data-formid="27"
            novalidate
        >
            <div class="gform-body gform_body">
                <div
                    id="gform_fields_27"
                    class="gform_fields top_label form_sublabel_below description_below validation_below"
                >
                    <div
                        id="field_27_23"
                        class="gfield gfield--type-honeypot gform_validation_container field_sublabel_below gfield--has-description field_description_below field_validation_below gfield_visibility_visible"
                    >
                        <label class="gfield_label gform-field-label" for="input_27_23">Instagram</label>
                        <div class="ginput_container">
                            <input name="input_23" id="input_27_23" type="text" value="" autocomplete="new-password" />
                        </div>
                        <div class="gfield_description" id="gfield_description_27_23">
                            This field is for validation purposes and should be left unchanged.
                        </div>
                    </div>
                    <div
                        id="field_27_1"
                        class="gfield gfield--type-text firstname gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible"
                    >
                        <label class="gfield_label gform-field-label" for="input_27_1"
                            >Your company name<span class="gfield_required"
                                ><span class="gfield_required gfield_required_asterisk">*</span></span
                            ></label
                        >
                        <div class="ginput_container ginput_container_text">
                            <input
                                name="input_1"
                                id="input_27_1"
                                type="text"
                                value=""
                                class="large"
                                aria-required="true"
                                aria-invalid="false"
                            />
                        </div>
                    </div>
                    <div
                        id="field_27_20"
                        class="gfield gfield--type-text gfield--width-full firstname gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible"
                    >
                        <label class="gfield_label gform-field-label" for="input_27_20"
                            >Your name<span class="gfield_required"
                                ><span class="gfield_required gfield_required_asterisk">*</span></span
                            ></label
                        >
                        <div class="ginput_container ginput_container_text">
                            <input
                                name="input_20"
                                id="input_27_20"
                                type="text"
                                value=""
                                class="large"
                                aria-required="true"
                                aria-invalid="false"
                            />
                        </div>
                    </div>
                    <div
                        id="field_27_21"
                        class="gfield gfield--type-email gfield--width-full gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible"
                    >
                        <label class="gfield_label gform-field-label" for="input_27_21"
                            >Your email<span class="gfield_required"
                                ><span class="gfield_required gfield_required_asterisk">*</span></span
                            ></label
                        >
                        <div class="ginput_container ginput_container_email">
                            <input
                                name="input_21"
                                id="input_27_21"
                                type="email"
                                value=""
                                class="large"
                                aria-required="true"
                                aria-invalid="false"
                            />
                        </div>
                    </div>
                    <div
                        id="field_27_22"
                        class="gfield gfield--type-phone gfield--width-full gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible"
                    >
                        <label class="gfield_label gform-field-label" for="input_27_22"
                            >Your phone number<span class="gfield_required"
                                ><span class="gfield_required gfield_required_asterisk">*</span></span
                            ></label
                        >
                        <div class="ginput_container ginput_container_phone">
                            <input
                                name="input_22"
                                id="input_27_22"
                                type="tel"
                                value=""
                                class="large"
                                aria-required="true"
                                aria-invalid="false"
                            />
                        </div>
                    </div>
                    <div
                        id="field_27_17"
                        class="gfield gfield--type-textarea gfield--width-full field_sublabel_below gfield--has-description field_description_below field_validation_below gfield_visibility_visible"
                    >
                        <label class="gfield_label gform-field-label" for="input_27_17">Your question</label>
                        <div class="ginput_container ginput_container_textarea">
                            <textarea
                                name="input_17"
                                id="input_27_17"
                                class="textarea medium"
                                aria-describedby="gfield_description_27_17"
                                placeholder="Your question or message"
                                aria-invalid="false"
                                rows="10"
                                cols="50"
                            ></textarea>
                        </div>
                        <div class="gfield_description" id="gfield_description_27_17">
                            Please specify here the equipment or service for which you would like to request a quote or
                            ask your question here.
                        </div>
                    </div>
                    <fieldset
                        id="field_27_18"
                        class="gfield gfield--type-consent gfield--type-choice gfield--input-type-consent gfield--width-full gfield_contains_required field_sublabel_below gfield--no-description field_description_below hidden_label field_validation_below gfield_visibility_visible"
                    >
                        <legend class="gfield_label gform-field-label gfield_label_before_complex">
                            Privacy<span class="gfield_required"
                                ><span class="gfield_required gfield_required_asterisk">*</span></span
                            >
                        </legend>
                        <div class="ginput_container ginput_container_consent">
                            <input
                                name="input_18.1"
                                id="input_27_18_1"
                                type="checkbox"
                                value="1"
                                aria-required="true"
                                aria-invalid="false"
                            />
                            <label
                                class="gform-field-label gform-field-label--type-inline gfield_consent_label"
                                for="input_27_18_1"
                                ><span class="input-replace"><i class="check-icon fa-solid fa-check"></i></span
                                ><span class="label-text"
                                    >I agree to the
                                    <a href="/en/privacy-policy/" target="_blank">privacy policy</a></span
                                ><span class="gfield_required gfield_required_asterisk">*</span></label
                            ><input
                                type="hidden"
                                name="input_18.2"
                                value='I agree to the &lt;a href="/en/privacy-policy/" target="_blank"&gt;privacy policy&lt;/a&gt;'
                                class="gform_hidden"
                            /><input type="hidden" name="input_18.3" value="23" class="gform_hidden" />
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="gform-footer gform_footer top_label">
                <input
                    type="submit"
                    id="gform_submit_button_27"
                    class="gform_button button"
                    onclick="gform.submission.handleButtonClick(this);"
                    data-submission-type="submit"
                    value="Request a quote"
                />
                <input
                    type="hidden"
                    name="gform_ajax"
                    value="form_id=27&amp;title=&amp;description=1&amp;tabindex=0&amp;theme=gravity-theme&amp;styles=[]&amp;hash=5db3f545276ece230c9a22129bc487cc"
                />
                <input
                    type="hidden"
                    class="gform_hidden"
                    name="gform_submission_method"
                    data-js="gform_submission_method_27"
                    value="iframe"
                />
                <input
                    type="hidden"
                    class="gform_hidden"
                    name="gform_theme"
                    data-js="gform_theme_27"
                    id="gform_theme_27"
                    value="gravity-theme"
                />
                <input
                    type="hidden"
                    class="gform_hidden"
                    name="gform_style_settings"
                    data-js="gform_style_settings_27"
                    id="gform_style_settings_27"
                    value="[]"
                />
                <input type="hidden" class="gform_hidden" name="is_submit_27" value="1" />
                <input type="hidden" class="gform_hidden" name="gform_submit" value="27" />

                <input type="hidden" class="gform_hidden" name="gform_unique_id" value="" />
                <input
                    type="hidden"
                    class="gform_hidden"
                    name="state_27"
                    value="WyJ7XCIxOC4xXCI6XCI2MDU2N2MxNDg4MGNhYTA1MTFkMzVkMjNlOTljMDljYlwiLFwiMTguMlwiOlwiNDZiN2Q3YzZmMzY5OTAyZjQ2ZmE2NTE2OTE2MjE2M2RcIixcIjE4LjNcIjpcIjJhZjNjYzljN2FlYTQwYTQ5YmZjY2Q0NjQ2ZjQyYWU0XCJ9IiwiYmFmMzk1M2NjMTU1ZDBjNzhmNDgzNjgwNjMyODc2MjQiXQ=="
                />
                <input
                    type="hidden"
                    autocomplete="off"
                    class="gform_hidden"
                    name="gform_target_page_number_27"
                    id="gform_target_page_number_27"
                    value="0"
                />
                <input
                    type="hidden"
                    autocomplete="off"
                    class="gform_hidden"
                    name="gform_source_page_number_27"
                    id="gform_source_page_number_27"
                    value="1"
                />
                <input type="hidden" name="gform_field_values" value="" />
            </div>
        </form>
    </div>
    <iframe
        style="display: none; width: 0px; height: 0px"
        src="about:blank"
        name="gform_ajax_frame_27"
        id="gform_ajax_frame_27"
        title="This iframe contains the logic required to handle Ajax powered Gravity Forms."
    ></iframe>
    <iframe
        style="display: none; width: 0px; height: 0px"
        src="about:blank"
        name="gform_ajax_frame_1"
        id="gform_ajax_frame_1"
        title="This iframe contains the logic required to handle Ajax powered Gravity Forms."
    ></iframe>
    <script type="rocketlazyloadscript">
        gform.initializeOnLoaded( function() {gformInitSpinner( 1, 'https://circularitgroup.com/wp-content/plugins/gravityforms/images/spinner.svg', true );jQuery('#gform_ajax_frame_1').on('load',function(){var contents = jQuery(this).contents().find('*').html();var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0;if(!is_postback){return;}var form_content = jQuery(this).contents().find('#gform_wrapper_1');var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_1').length > 0;var is_redirect = contents.indexOf('gformRedirect(){') >= 0;var is_form = form_content.length > 0 && ! is_redirect && ! is_confirmation;var mt = parseInt(jQuery('html').css('margin-top'), 10) + parseInt(jQuery('body').css('margin-top'), 10) + 100;if(is_form){form_content.find('form').css('opacity', 0);jQuery('#gform_wrapper_1').html(form_content.html());if(form_content.hasClass('gform_validation_error')){jQuery('#gform_wrapper_1').addClass('gform_validation_error');} else {jQuery('#gform_wrapper_1').removeClass('gform_validation_error');}setTimeout( function() { /* delay the scroll by 50 milliseconds to fix a bug in chrome */ jQuery(document).scrollTop(jQuery('#gform_wrapper_1').offset().top - mt); }, 50 );if(window['gformInitDatepicker']) {gformInitDatepicker();}if(window['gformInitPriceFields']) {gformInitPriceFields();}var current_page = jQuery('#gform_source_page_number_1').val();gformInitSpinner( 1, 'https://circularitgroup.com/wp-content/plugins/gravityforms/images/spinner.svg', true );jQuery(document).trigger('gform_page_loaded', [1, current_page]);window['gf_submitting_1'] = false;}else if(!is_redirect){var confirmation_content = jQuery(this).contents().find('.GF_AJAX_POSTBACK').html();if(!confirmation_content){confirmation_content = contents;}jQuery('#gform_wrapper_1').replaceWith(confirmation_content);jQuery(document).scrollTop(jQuery('#gf_1').offset().top - mt);jQuery(document).trigger('gform_confirmation_loaded', [1]);window['gf_submitting_1'] = false;wp.a11y.speak(jQuery('#gform_confirmation_message_1').text());}else{jQuery('#gform_1').append(contents);if(window['gformRedirect']) {gformRedirect();}}jQuery(document).trigger("gform_pre_post_render", [{ formId: "1", currentPage: "current_page", abort: function() { this.preventDefault(); } }]);        if (event && event.defaultPrevented) {                return;        }        const gformWrapperDiv = document.getElementById( "gform_wrapper_1" );        if ( gformWrapperDiv ) {            const visibilitySpan = document.createElement( "span" );            visibilitySpan.id = "gform_visibility_test_1";            gformWrapperDiv.insertAdjacentElement( "afterend", visibilitySpan );        }        const visibilityTestDiv = document.getElementById( "gform_visibility_test_1" );        let postRenderFired = false;        function triggerPostRender() {            if ( postRenderFired ) {                return;            }            postRenderFired = true;            gform.core.triggerPostRenderEvents( 1, current_page );            if ( visibilityTestDiv ) {                visibilityTestDiv.parentNode.removeChild( visibilityTestDiv );            }        }        function debounce( func, wait, immediate ) {            var timeout;            return function() {                var context = this, args = arguments;                var later = function() {                    timeout = null;                    if ( !immediate ) func.apply( context, args );                };                var callNow = immediate && !timeout;                clearTimeout( timeout );                timeout = setTimeout( later, wait );                if ( callNow ) func.apply( context, args );            };        }        const debouncedTriggerPostRender = debounce( function() {            triggerPostRender();        }, 200 );        if ( visibilityTestDiv && visibilityTestDiv.offsetParent === null ) {            const observer = new MutationObserver( ( mutations ) => {                mutations.forEach( ( mutation ) => {                    if ( mutation.type === 'attributes' && visibilityTestDiv.offsetParent !== null ) {                        debouncedTriggerPostRender();                        observer.disconnect();                    }                });            });            observer.observe( document.body, {                attributes: true,                childList: false,                subtree: true,                attributeFilter: [ 'style', 'class' ],            });        } else {            triggerPostRender();        }    } );} );
    </script>
</div>
