<footer data-wpr-lazyrender="1">
    <h2><span class="screen-reader-text">Site footer</span></h2>
    <div class="grid-container">
        <div class="grid-x grid-margin-x widgets">
            <div class="cell medium-10 medium-offset-1 large-offset-0 large-4">
                <div id="nav_menu-2" class="widget widget_nav_menu">
                    <span class="widget-title"
                        >Circular IT group<i class="fa-solid fa-chevron-down hide-for-large"></i
                    ></span>
                    <div class="menu-footer-1-container">
                        <ul id="menu-footer-1" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1556">
                                <a target="_blank" href="/">Working at CITg</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1146">
                                <a href="/contact-us/">Contact</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1552">
                                <a href="/news/">News</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8384">
                                <a href="/webinars/">Webinars</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10099">
                                <a href="/about-us/csrd-impact-report/"
                                    >CSRD Impact Report</a
                                >
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1553">
                                <a href="/about-us/esg-policy/">Our ESG policy</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1554">
                                <a href="/about-us/our-story/">Our story</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1555">
                                <a href="/about-us/">About us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cell medium-offset-1 medium-5 large-offset-0 large-4">
                <div id="text-2" class="widget widget_text">
                    <span class="widget-title">Contact<i class="fa-solid fa-chevron-down hide-for-large"></i></span>
                    <div class="textwidget">
                        <div>
                            <div>
                                <div>
                                    <i class="fa-regular fa-envelope"></i>
                                    <a target="_blank" href="mailto:info@circularitgroup.com">
                                        info@circularitgroup.com</a
                                    >
                                </div>
                                <div>
                                    <i class="fa-regular fa-phone"></i>
                                    <a target="_blank" href="tel:+31 (0) 88 – 990 7500"> +31 (0) 88 – 990 7500</a>
                                </div>
                                <div>
                                    <i class="fa-brands fa-linkedin-in"></i>
                                    <a target="_blank" href="https://www.linkedin.com/company/circular-it-group/">
                                        Linkedin</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell medium-5 large-4 form box">
                <h5>Stay up to date about Circular IT group</h5>
                <form action="/subscribe/" method="GET">
                    <label for="email">
                        Your email address <input type="text" id="email" name="email" placeholder="" />
                    </label>
                    <input role="button" class="btn secondary" type="submit" value="Subscribe newsletter" />
                </form>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell">
                    <div id="nav_menu-6" class="widget widget_nav_menu">
                        <div class="menu-copyright-container">
                            <ul id="menu-copyright" class="menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1897">
                                    <a href="/our-privacy-policy/">Privacy Policy</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2628">
                                    <a href="/our-cookie-policy/">Cookie Policy</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1896">
                                    <a href="/our-principles-statement/"
                                        >Principles Statement</a
                                    >
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5678">
                                    <a href="/terms-and-conditions/">Terms and conditions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
