<section id="brands" data-magellan-target="brands" data-magellan-name="Brands" class="brands">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell text-center">
                <h2>Our premium hardware brands</h2>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell slider">
                <div class="swiper-brands-container">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img
                                    width="600"
                                    height="600"
                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20600%20600'%3E%3C/svg%3E"
                                    alt="Apple is include in Circular IT groups device as a service stack"
                                    data-lazy-src="https://circularitgroup.com/wp-content/smush-webp/2023/08/Apple-600x600.png.webp"
                                /><noscript
                                    ><img
                                        width="600"
                                        height="600"
                                        loading="lazy"
                                        src="https://circularitgroup.com/wp-content/smush-webp/2023/08/Apple-600x600.png.webp"
                                        alt="Apple is include in Circular IT groups device as a service stack"
                                /></noscript>
                            </div>
                            <div class="swiper-slide">
                                <img
                                    width="600"
                                    height="600"
                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20600%20600'%3E%3C/svg%3E"
                                    alt="HP is offered in Circular IT groups device as a service stack"
                                    data-lazy-src="https://circularitgroup.com/wp-content/smush-webp/2023/08/HP--600x600.png.webp"
                                /><noscript
                                    ><img
                                        width="600"
                                        height="600"
                                        loading="lazy"
                                        src="https://circularitgroup.com/wp-content/smush-webp/2023/08/HP--600x600.png.webp"
                                        alt="HP is offered in Circular IT groups device as a service stack"
                                /></noscript>
                            </div>
                            <div class="swiper-slide">
                                <img
                                    width="600"
                                    height="600"
                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20600%20600'%3E%3C/svg%3E"
                                    alt="Lenovo logo"
                                    data-lazy-src="https://circularitgroup.com/wp-content/smush-webp/2023/08/lenovo-logo-0-600x600.png.webp"
                                /><noscript
                                    ><img
                                        width="600"
                                        height="600"
                                        loading="lazy"
                                        src="https://circularitgroup.com/wp-content/smush-webp/2023/08/lenovo-logo-0-600x600.png.webp"
                                        alt="Lenovo logo"
                                /></noscript>
                            </div>
                            <div class="swiper-slide">
                                <img
                                    width="600"
                                    height="600"
                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20600%20600'%3E%3C/svg%3E"
                                    alt="Windows logo"
                                    data-lazy-src="https://circularitgroup.com/wp-content/smush-webp/2023/08/Windows_logo_-_2021.svg-600x600.png.webp"
                                /><noscript
                                    ><img
                                        width="600"
                                        height="600"
                                        loading="lazy"
                                        src="https://circularitgroup.com/wp-content/smush-webp/2023/08/Windows_logo_-_2021.svg-600x600.png.webp"
                                        alt="Windows logo"
                                /></noscript>
                            </div>
                            <div class="swiper-slide">
                                <img
                                    width="600"
                                    height="95"
                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20600%2095'%3E%3C/svg%3E"
                                    alt="Samsung is included in Circular IT groups device as a service stack"
                                    data-lazy-src="https://circularitgroup.com/wp-content/uploads/2025/06/Samsung-Logo.wine_-e1750246816137-600x95.png"
                                /><noscript
                                    ><img
                                        width="600"
                                        height="95"
                                        loading="lazy"
                                        src="https://circularitgroup.com/wp-content/uploads/2025/06/Samsung-Logo.wine_-e1750246816137-600x95.png"
                                        alt="Samsung is included in Circular IT groups device as a service stack"
                                /></noscript>
                            </div>
                            <div class="swiper-slide">
                                <img
                                    width="600"
                                    height="600"
                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20600%20600'%3E%3C/svg%3E"
                                    alt="Dell is included in Circular IT groups device as a service stack"
                                    data-lazy-src="https://circularitgroup.com/wp-content/smush-webp/2023/08/Dell-600x600.png.webp"
                                /><noscript
                                    ><img
                                        width="600"
                                        height="600"
                                        loading="lazy"
                                        src="https://circularitgroup.com/wp-content/smush-webp/2023/08/Dell-600x600.png.webp"
                                        alt="Dell is included in Circular IT groups device as a service stack"
                                /></noscript>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-navigation">
                        <div class="swiper-button-prev swiper-brands-prev">
                            <i class="fa-regular fa-arrow-left"></i>
                        </div>
                        <div class="swiper-button-next swiper-brands-next">
                            <i class="fa-regular fa-arrow-right"></i>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-brands-pagination hide-for-large"></div>
                </div>
            </div>
        </div>
    </div>
</section>
